%h2
  = set_title("About leftlibertarian.org")
%ul
  %li
    %h3
      What is this jonx?
    %p
      leftlibertarian.org is a project to bring together all the great content of the left libertarian blogosphere.
  %li
    %h3
      How can I get my feed included?
    %p
      For now, 
      %a{:href => "contact.html"}
        drop us a line
      \. In the long run, we have a cool way to use the open web to drive participation.
  %li
    %h3
      Where's the feed?
    %p
      %a{:href=> "feed://www.google.com/reader/public/atom/user%2F17259557295560042878%2Fstate%2Fcom.google%2Fbroadcast"}
        Right here.
      Notice that it's a Google Reader shared items feed? Yeah - we've got cool stuff on the way.