%h2
  About leftlibertarian.org
%ul
  %li
    %h3
      What is this jonx?
    %p
      leftlibertarian.org is a project to bring together all the great content of the left libertarian blogosphere.
  %li
    %h3
      How can I get my feed included?
    %p
      For now, contact admin *A*T* leftlibertarian PERIOD org. In the long run, we have a cool way to use the open web to drive participation.
  %li
    %h3
      Where's the feed?
    %p
      We're working on that, hang tight.