%h2
  What is left libertarianism?
%p
  Although it's pretty safe to say that no canonical definition of left libertarianism exists, there is a growing consensus around a certain body of concepts, priorities, and attitudes towards the State.  Here is a collection of different perspectives from individuals who identify as left libertarian
%ul
  
  %li
    %a{ :href => "http://freemania1.com/" }
      Jake Freeman Smith
    %blockquote
      %p
        Left-libertarianism is a growing tendency amongst certain people identifying as libertarian who challenge many of the prevailing views and attitudes held by most libertarians, particularly those stemming from the unfortunate 20th century alliance with political rightists.  Knee-jerk anti-leftism, apologia for current distributions of wealth, support for big business interests, and a generally atomistic orientation regarding human relations are examples of positions being challenged, if not outright rejected, by left-libertarian thinking.
      %p
        Many, if not most, left-libertarians envision a more decentralized human scale economy and a more egalitarian organization of society taking shape upon the removal of the myriad forms of state privilege promoting centralization, exploitation, and the unsustainable, cancerous forms of growth resulting from artificial economies of scale.
      %p
        Many, if not most, left libertarians additionally recognize many forms of aggression and harm originating either outside of a purely state-based context  or from forms of state privledge distorting relations between people and other forms of life.  The role of patriarchal attitudes and behavior in society serves as an example of the former, whereas ecological exploitation and destruction represents the latter tendency.
  
  %li
    %a{ :href => "http://www.bradspangler.com/blog/archives/283" }
      Brad Spangler
    %blockquote
      %p
        Among the variety of political labels I claim for myself is "Left Libertarian". That should, however, be a redundancy and I believe that it will come to be regarded as such. Genuine libertarianism is very much left wing. It's revolutionary. The long and tragic alliance of libertarians with the right against the spectre of state socialism is coming to a close, as it served no purpose after the fall of the Soviet Union and so-called "conservatives" have subsequently taken to letting their true big-government-on-steroids colors fly.
  
  %li
    %a{ :href => "http://independentcountry.blogspot.com/2005/08/how-is-libertarian-left-different.html" }
      James Leroy Wilson
    %blockquote
      %p
        By being both anti-authoritarian and anti-corporate monopoly, Left Libertarians present a clean break from right-wing coalition of neo-cons, the Religious Right, and Big Business. In opposing the war, in promoting local control (which many Greens do), in fighting state-sanctioned corporate privilege, and in fighting to protect our civil liberties, the Libertarian Left has far more in common with the Left than with the Right as it is presently identified.
      %p
        What this does not mean is that I prefer Hillary to Congressman Ron Paul. It does not mean outright partisanship in which liberals are my friends and conservatives my enemies. I still feel a sense of common cause with many on the Right, especially strict Constitutionalists. But historically the Right has been the party of the Establishment, of landed privilege. The Left has been opposed. Libertarianism ultimately belongs on the Left.
  
  %li
    %a{ :href => "http://complicatedvisionary.blogspot.com/2007/01/different-kinds-of-libertarians.html" }
      Joseph Van Hoven
    %blockquote
      %p
        Left Libertarians believe big, powerful government is as oppressive and bad as big, powerful corporations. They are anti-war (including the War on Drugs), pro-choice, and against government favors for corporations (or against large corporations altogether). They usually favor participatory action and mutual aid over government for social justice and environmental causes, as well as smaller, more local businesses and community-centered marketplaces. They may caucus with right-libertarians ("vulgar libertarians" is a commonly used phrase) for strategic purposes, which is the primary reason they are on the list at all. They are also likely to work with Green parties. Often Georgist on physical property and against extensive and restrictive intellectual property (and a major front behind Open Source), they are related to others of the broad libertarian left--agorists, mutualists, libertarian socialists, cyberpunks and anarchists; also 'Buddhist Economics'.
  
  %li
    %a{ :href => "http://socialmemorycomplex.net/2007/04/13/what-is-a-left-libertarian" }
      Jeremy Weiland
    %blockquote
      %p
        I don't claim to possess any extraordinarily superior spark of insight, but I do think many libertarians suffer from a failure of imagination when applying libertarian principles thoroughly to these issues. Corporations are creations of government privilege which are granted limited liability, preferred access to our leaders, and constitutional rights as if they were living, breathing human beings whose interests were no different than ours. The power differential they exploit is not "laissez faire" economics, but rather the result of State intervention in the otherwise voluntary, human-scale economy, resulting in artificially bloated organizational behemoths. We are certainly not becoming freer, and direct government manipulation, while ever present, is only dwarfed by big business's need for a rational, sanitized, intimidated customer base to dump junk on. Environmental problems go deeper than mere property rights issues and get down to the incentives and privileges afforded industry by the State. Poverty, suffering, and unfair labor practices here and around the world cannot be the result of a "free market" if what we have now is demonstrably not free. So why shouldn't we oppose them on the same grounds that we oppose other side-effects of central planning and top-down command? What are the alternatives to the institutions, practices, and concepts that have created these problems?
  
  %li
    %a{ :href => "http://sheldonfreeassociation.blogspot.com/2006/07/why-left-libertarian.html" }
      Sheldon Richman
    %blockquote
      %p
        Left-libertarians share the leftists' concern for the vulnerable and wish not to be mistaken for rightists, but go one better by correctly identifying the source of the vulnerability -- corporatism -- and the solution: an unfettered competitive market void of any sort of privilege.
  
  %li
    %a{ :href => "http://www.freeliberal.com/archives/001407.html" }
      Ali Massoud
    %blockquote
      %p
        I will not go into the various permutations and doctrines of the various factions and individuals of the social democratic left here. Suffice it to say that they all have an innate suspicion of concentrated power, economic monopolies, and special interest influence that vanguard political, economic, ethnic, and religious domination of American society of the many by the few.This deep suspicion is a solidly embedded meme in American political culture that may yet again become a vehicle for political and culture movements for liberty and against states and statism. Movements exploring this possibility
        %a{ :href => "http://pub35.bravenet.com/sitering/show.php?usernum=2936599457" }
          exist today
        and could in time become significant.
  
  %li
    A negative view from
    %a{ :href => "http://www.lewrockwell.com/greenhut/greenhut19.html" }
      Steven Greenhut
    %blockquote
      %p
        Basically, left-libertarians are hostile to traditional values and traditional religious perspectives. So they are as confused as members of the religious right. Religious conservatives think that because something is bad it ought to be illegal. Left-libertarians think that if something ought to be legal, then it is necessarily good.
  
  %li
    Soviet Onion    %blockquote
  %p
    One way of putting this in a historical context is to see us as "left" in the same sense that Lenin was using in "Left-Wing Communism: an Infantile Disorder".  In it, he was criticizing those radicals who were skeptical toward the idea of an all-powerful Party bureaucracy, or of political means toward revolution in general.  We are the infantile left of the libertarian movement in the sense that we occupy the same ideological space within the continuum of the libertarian movement, and embrace what could be seen as the "left" perspective on issues in which there's contention or deviation      %p
  %p
    Anarchist vs minarchist.  Revolutionary vs reformist.  Extremist vs moderate.  Direct action vs electoral action.  Decentralized cell structure vs monocentric party structure or personality cult.  Grassroots instead of lobbyist.  Populist vs elitist.  Anti-militarist, anti-interventionist, anti-plutocracy, pro-immigration, pro-choice etc.
  %p
    In another, by no means contradictory sense, left-libertarianism fuses this with a leftish concern for (remember this phrase) formally non-coercive culturally-based systems of oppression that aren't commonly seen as libertarian issues, though historically most of them were.  That includes concern for worker empowerment, hierarchy, sexism, racism, gay liberation, sexual liberation, authoritarian forms of parenting and education, both as bad and illiberal in themselves, and reinforcing toward coercive forms of power and authority.
  
  %li
    %a{ :href => "http://liberalaw.blogspot.com/2008/12/framing-left-libertarianism-first-pass.html" }
      Gary Chartier
    %blockquote
      %p
        Left libertarianism represents a particularly radical development of generally acknowledged libertarian moral judgments and an elaboration of the implications of moral principles that can be seen to provide plausible grounds for rejecting statism. It can provide bases for challenging and means for reducing or ending exclusion, subordination, and deprivation that are authentically consistent with market anarchism. Thus, it can outline identifiably libertarian means to identifiably leftist ends, and it can persuasively redescribe those ends and means as both genuinely libertarian and genuinely leftist.
  
  %li
    %a{ :href => "http://polycentricorder.blogspot.com/2008/11/what-is-left-libertarianism.html" }
      Brainpolice
    %blockquote
      %p
        In a sense, left-libertarianism is a historical revision that identifies a tradition of association between libertarianism and what can be deemed to be the "left" end of the political spectrum. The term left-libertarian does not use the term "left" in the context of mainstream politics, but in the historical context of classical liberalism and anarchism, I.E. it is a referance to the tendency of opposition to authority. It could be said that left-libertarianism is therefore a redundancy. But the usefulness of the term is as a reclaimation of political alignment in light of the distortion that has occured over the years in terms of how the political spectrum is viewed.
  

%p
  Know of another perspective on left libertarianism?
  %a{ :href => "http://leftlibertarian.org/contact.html" }
    Contact us
  \.
