!!!
%html
  %head
    %title
      Internal Server Error - leftlibertarian.org
  %body
    #page
      %h1
        Internal Server Error 
      %h2
        (HTTP Error 500)
      %p
        The server is experiencing problems and cannot complete your request.
        %a{:href => "/"}
          Return to leftlibertarian.org
