body
  background: white
  color: black
  font-family: Lucida Console, Monaco, monospace
  font-size: 12pt
  
#page
  margin: 0 20%
  h1
    margin: 0
    padding: 0.5em 0 0 0
    text-align: center
    a
      img
        text-align: center
        border: none
  #slogan
    font-style: italic
    text-align: center
    font-size: .75em
  h2
    font-size: 20pt
    text-align: left
    .feed-info
      font-size: .5em
      font-style: italic
  a
    color: darkred
    text-decoration: none
  a:hover
    color: red

#content
  ul
    list-style-type: bullet
    li.entry
      text-align: justify
      .read_more
        text-align: right
        font-size: .75em
  a
    text-decoration: underline

  ul.pages
    text-align: center
    list-style-type: none
    padding: 1em 3em
    li
      display: inline
      padding: 0 3em
      #forward
        float: right
      #back
        float: left
#footer    
  padding: 1em
  text-align: center
  font-size: .75em
  ul 
    list-style-type: none
    li
      margin 0 auto
      padding: 0 4em
      display: inline